<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="nl.x-services.plugins.actionsheet"
        version="0.0.1">

  <name>ActionSheet</name>

  <description>
    Show a sheet of options the user can choose from.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/ActionSheet.js" name="ActionSheet">
    <clobbers target="window.plugins.actionsheet" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="ActionSheet">
        <param name="ios-package" value="ActionSheet"/>
      </feature>
    </config-file>

    <header-file src="src/ios/ActionSheet.h"/>
    <source-file src="src/ios/ActionSheet.m"/>
  </platform>

</plugin>